/* MY NAVBAR */

.my_nav_bar{
    background-color: white;
}

.my_img_container{
    height: 70px;
}

.my_img_container img{
    height: 100%;
    width: 100%;
    object-fit: contain;  
}

.my_list a{
    width: 100%;
    line-height: 70px;
    color: #1B2E5E;
}

.my_list{
    height: 70px;
    margin-bottom: 0;
}

.my_list_col{
    height: 100%
}

.my_invisible_button, .my_blue_botton{
    background-color: transparent;
}

.my_blue_botton{
    color: #2B8EFF;
    border: 1px solid  #2B8EFF;
}

.my_hamburger_container{
    width: 50px;
    height: 70px;
    padding: calc((70px / 2) / 3) 0px;
    padding-right: 20px;
}

.my_hamburger{
    width: 100%;
    height: 2px;
    margin: calc((70px / 2) / 3) 0px;
    background-color: #2B8EFF;
}

/* MY HERO */

section{
    padding: 50px 0px;
}

.my_hero{
    background-image: url(img/bg-banner-home.jpg);
}

.my_hero h1{
    font-size: 50px;
}

.my_hero p{
    font-size: 20px;
    color: #BBCDFF
}

.my_panel_container{
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}
.my_google_btn{
    height: 46px;
}

.my_google_img_container{
    position: relative;
    height: 100%;
}

.my_google_img_container img{
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.my_google_btn_text_container{
    position: relative;
    height: 100%;
}


.my_btn_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #1B2E5E;
}

/* MY GREY SECTION */

.my_sponsors_row{
    width: 100%;
    font-size: 0px;
    margin: 40px 0px;
}

.sponsors_text{
    color: #677594;
    font-size: 20px;
}

.my_sponsors_card{
    width: calc(100% / 6);
    height: 80px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    padding: 0 10px;
}

.my_sponsors_card img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.sponsors_text a{
    font-size: 14px;
    color: #2B8EFF;
}


/* FIRST WHITE SECTION */

.my_list_item{
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 1px solid #CACACA;
    padding: 15px 30px;
    font-size: 18px;
    color: #677594;
}

.my_row{
    padding-top: 30px;
}

/* BIG SLIDE */
.my_icon_container{
    position: relative;
    height: 400px;
}

.my_icon_container i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

.my_slide_container img{
    height: 400px;
}

.my_slide_container p{
    font-size: 18px;
    font-weight: bold;
}


/* SMALL SLIDE */

.my_icon_container_two{
    position: relative;
    height: 300px;
}

.my_icon_container_two i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

.my_slide_container_two{
    height: 300px;
}

.my_slide_container_two .my_panel_container{
    padding-top: 40px;
}

.my_slide_container_two .my_panel_container img{
    width: 50%;
    margin-bottom: 20px;
}


.my_dots_container_two{
    margin-top: 30px;
}





/* Utilities */

.grey_section{
    background-color: #F3F5F9;
}

.my_blue_text{
    color: #2B8EFF;
}

.my_title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.my_par{
    color: #3B5179;
    margin-bottom: 40px;
}

@media screen and (max-width: 767px){
    .my_sponsors_card{
        width: 50%
    }
}

.my_dots{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #2B8EFF;
    display: inline-block;
}


.my_full_dot{
    background-color:  #2B8EFF;
}

.my_p_60_l{
    padding-left: 60px;
}

.my_blue_section{
    background: linear-gradient(180deg, rgba(1,72,197,1) 0%, rgba(1,30,153,1) 35%);
}

.text_white{
    color: white;
}


.my_table{
    margin: auto;
    color: white;
    margin-top: 30px;
}


.my_td{
    padding: 10px 20px;
    border-bottom: 1px solid white;
}

