/* MY NAVBAR */

.my_nav_bar{
    background-color: white;
}

.my_img_container{
    height: 70px;
}

.my_img_container img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.my_list_row{
    height: 70px;
    margin-bottom: 0;
}

.my_list_row a{
    width: 100%;
    line-height: 70px;
    color: #1B2E5E;
}

.my_invisible_button, .my_blue_botton{
    background-color: transparent;
}

.my_blue_botton{
    color: #2B8EFF;
    border: 1px solid  #2B8EFF;
}


.my_hamburger_container{
    width: 30px;
    height: 70px;
    padding: calc((70px / 2) / 3) 0px;
}

.my_hamburger{
    width: 100%;
    height: 2px;
    margin: calc((70px / 2) / 3) 0px;
    background-color: #2B8EFF;
    border-radius: 1px;
}

/* MY HERO */

section{
    padding: 50px 0px;
}

.my_hero{
    background-image: url(img/bg-banner-home.jpg);
}

.my_hero h1{
    font-size: 50px;
}

.my_hero p{
    font-size: 20px;
    color: #BBCDFF
}

.my_panel_container_one{
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

.my_google_btn{
    position: relative;
}

.my_google_btn img{
  height: 70%;
  width: 10%;
  object-fit: contain;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}


/* FIRST GREY SECTION */

.my_sponsors_row{
    margin: 40px 0px;
}

.my_sponsors_text{
    color: #677594;
    font-size: 20px;
}

.my_sponsors_card{
    width: calc(100% / 6);
    height: 80px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    padding: 0 10px;
}

.my_sponsors_card img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.my_sponsors_text a{
    font-size: 14px;
    color: #2B8EFF;
}


/* FIRST WHITE SECTION */

.my_list_item{
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 1px solid #CACACA;
    padding: 15px 30px;
    font-size: 18px;
    color: #677594;
}

.my_row{
    padding-top: 30px;
}

/* BIG SLIDE */

.my_icon_container{
    display: inline-block;
    width: 10%;
    vertical-align: middle;
    font-size: 14px;
}

.my_icon_container >i{
    color:  #3B5179;
}

.my_slide_container{
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    font-size: 14px;
}

.my_slide_container img{
   max-width: 100%;
}

.my_slide_container p{
    font-size: 18px;
    font-weight: bold;
}

.my_icon_container >i:hover{
    color: black;

}


/* BLUE GRADIENT SECTION */

.my_table{
    margin: auto;
    color: white;
    margin-top: 30px;
}


.my_td{
    padding: 10px 20px;
    border-bottom: 1px solid white;
}


/* SMALL SLIDE */

.my_panel_container img{
    width: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
}



/* FOOTER */

footer{
    background-color: #041C4E;
}

.my_footer_left_container{
    padding-left: 60px;
    padding-top: 40px;
}

.my_footer_left_container p{
    padding-top: 10px;
    color: #8791A6;
}

.my_footer_left_container .my_darker_footer {
    padding-top: 0;
    color: #5C6988;
}

.my_footer_left_container i{
    font-size: 24px;
    margin-right: 10px;
}

.my_right_footer{
    padding-left: 60px;
}

.my_right_footer p{
    color: #8791A6;
}

/* MY FIXED FISH */

.my_fixed_fish{
    position: fixed;
    bottom: 20px;
    right: 40px;
    background-color: #026AFF;
    border-radius: 6px;
}

.my_fixed_fish img{
    position: relative;
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.my_red_dot{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: red;
    text-align: center;
    line-height: 16px;
    color: white;
}

.my_fixed_cloud{
    position: fixed;
    bottom: 20px;
    right: 120px;
    display: none;
}

.my_cloud{
    position: relative;
    width: 180px;
    height: 60px;
    background-color: white;
    border-radius: 6px;
    padding-left: 6px;
}

.my_arrow_right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    bottom: 10px;
    right: -10px;
  }

a.my_pop_up:hover + .my_fixed_cloud{
    display: block;
}





/* Utilities */

.grey_section{
    background-color: #F3F5F9;
}

.my_blue_text{
    color: #2B8EFF;
}

.my_title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.my_par{
    color: #3B5179;
    margin-bottom: 40px;
}

.my_dots{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #2B8EFF;
    display: inline-block;
}


.my_full_dot{
    background-color:  #2B8EFF;
}

.my_p_60_l{
    padding-left: 60px;
}

.my_blue_section{
    background: linear-gradient(180deg, rgba(1,72,197,1) 0%, rgba(1,30,153,1) 35%);
}

.text_white{
    color: white;
}

.my_no_gap{
    font-size: 0px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
    .my_sponsors_card{
        width: 50%
    }
}

@media screen and (max-width: 991px) {

    .my_fixed_fish{
        bottom: 100px;
        left: 40px;
        width: 60px;
    }

    .my_fixed_cloud{
        bottom: 20px;
        left: 40px;
    }

    .my_arrow_right {
        bottom: 10px;
        left: 180px;
      }

}